 <% @ad.comments.each do |comment| %>
	<div class="row">
		<div class="col-md-12">
			<%= comment.member.email %>
			<small class="text-muted"> <%= l comment.created_at %> </small>
			<span class="pull-right"> <%= time_ago_in_words(comment.created_at)%></span>  
 			<p><%= comment.body %></p>
 			

			<!--Posted by Anonymous on 3/1/17-->

<% end %>