 <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row pull-right">
                <div class="col-lg-12 pull-right">
                    <p>Copyright &copy; <%= t('app.name') %> <%= Date.today.year%> </p>
                </div>
            </div>
        </footer>

    </div>